.projectElement-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    border: 1px solid antiquewhite;
    border-radius: 20px;
    width: 60%;
    padding: 20px 10px;
}

.game-name {
    color: white;
}

.game-description {
    color: antiquewhite;
}

.flexColumn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projectElement-img {
    width: 500px;
    border-radius: 20px;
}


 /* Smartphone */
 @media (max-width: 599px) {
    .project-container {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      height: auto; /* Cambiado a auto para permitir que el contenido determine la altura */
      gap: 1rem; /* Cambiado a rem para ajustarse mejor a dispositivos móviles */
      padding: 1rem; /* Añadido para un mejor espaciado en dispositivos móviles */
    }
  }
  
  /* Tablet */
  @media (min-width: 600px) and (max-width: 991px) {
    .project-container {
      font-size: 30px;
      display: flex;
      flex-direction: column;
    }
  }
  
  /* Monitor de PC */
  @media (min-width: 992px) {
    .project-container {
      font-size: 36px;
    }
  }
  