.responsive-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(/src/assets/dark-bg.jpg);
    background-size: cover;
    height: 98vh;
    color: antiquewhite;
    width: 100%;
    text-align: start;
}

.responsive-header-container {
    display: flex;
    gap: 2rem;
}

.responsive-header-subtitle {
    text-align: center;
}

.responsive-header-img {
    width: 200px;
}

/* Smartphone */
@media (max-width: 599px) {
    .responsive-header, .responsive-header-container {
        font-size: 20px;
        height: 75vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 991px) {
    .responsive-header {
        font-size: 30px;
    }
}

/* Monitor de PC */
@media (min-width: 992px) {
    .responsive-header {
        font-size: 36px;
    }
}