.responsive-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(/src/assets/dark-bg.jpg);
    background-size: cover;
    height: 98vh;
    color: antiquewhite;
    width: 100%;
    text-align: start;
  }
  
  .responsive-header-container {
    display: flex;
    flex-direction: column; /* Cambiado de row a column para dispositivos móviles y tabletas */
    align-items: center;
    gap: 3rem;
  }
  
  .flex-container {
    /* Mantener igual para dispositivos móviles y tabletas */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .header-title {
    font-size: 5rem;
  }
  
  .responsive-header-subtitle {
    text-align: center;
  }
  
  .responsive-header-img {
    width: 200px;
    height: 200px;
  }
  
  /* Smartphone */
  @media (max-width: 599px) {
    .responsive-header, .responsive-header-container {
      font-size: 20px;
      height: auto; /* Cambiado a auto para permitir que el contenido determine la altura */
      gap: 1rem; /* Cambiado a rem para ajustarse mejor a dispositivos móviles */
    }
    .responsive-header-container {
      padding: 1rem; /* Añadido para un mejor espaciado en dispositivos móviles */
    }
  }
  
  /* Tablet */
  @media (min-width: 600px) and (max-width: 991px) {
    .responsive-header {
      font-size: 30px;
    }
  }
  
  /* Monitor de PC */
  @media (min-width: 992px) {
    .responsive-header {
      font-size: 36px;
    }
  }
  