.resume-button {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;

    gap: 6px;

    border-radius: 1000px;
    padding: 12px 20px;
    width: 200px;
    height: 60px;

    cursor: pointer;

    background-color: #A2678A;
    color: white;
    border: 1px solid black;
}

.resume-button:hover {
    background: #E19898;
}

.resume-button img {
    max-height: 50px;
}